.card img{
    height: 190px;
    border-radius: 30px;
}
.card{
    height: 300px;
    padding: 30px;
    border-radius: 30px;
    flex-shrink: 0;
    flex-basis: 240px;
    background-color: #e7e7e7;
}
